/* * {
  border: solid;
} */
header {
  display: flex;
  flex: 1 1 5rem;
  flex-direction: row;
  justify-content: center;
  margin-bottom: auto;
  padding-bottom: 3em;
}
body {
  font-family: sans-serif;
  margin: auto;
  padding: 2em;
  font-size: 10pt;
  font-weight: lighter;
  max-width: 800px;
}

/* Contact Info/Header */
div.contact_info {
  padding-left: 3em;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: black;
}

#name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#phone_icon {
  width: 0.7em;
  height: auto;
  padding-right: 1em;
}
#email_icon {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}
#location_icon {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}
/* everything bellow header */
#content {
  display: flex;
}
/* Left Column */
#left_column {
  display: flex;
  flex-direction: column;
  border-right: solid black;
  max-width: 250px;
}
#left_column p {
  padding: 0.25em;
  margin: 0em;
}

/* Right Column */
#right_column {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
