/* * {
  border: solid;
} */
header {
  display: flex;
  flex: 1 1 5rem;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
  /* padding-bottom: 2em; */
}
h1 {
  font-size: 4em;
  margin-bottom: 0;
}

body {
  font-family: sans-serif;
  margin: auto;
  padding: 2em;
  font-size: 10pt;
  font-weight: lighter;
  max-width: 750px;
}
p {
  font-family: "Times New Roman", Times, serif;
}
ul {
  font-family: "Times New Roman", Times, serif;
  padding-left: 1em;
}
h2 {
  margin-bottom: 0;
}
h3 {
  margin: 0;
}

/* Contact Info/Header */
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}

#name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
#title {
  font-size: 2em;
}

#phone_icon {
  width: 0.7em;
  height: auto;
  padding-right: 1em;
}
#email_icon {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}
#location_icon {
  width: 1em;
  height: auto;
  padding-right: 0.5em;
}
/* everything bellow header */
#content {
  display: flex;
}
/* Left Column */
#left_column {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  border-right: solid black;
  max-width: 250px;
}
#left_column p {
  margin: 0em;
}
.education {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4em;
}
/* Right Column */
#right_column {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
#right_column a {
  max-width: 11em;
}
#exp {
  padding-bottom: 0.4em;
}
.experience {
  margin: 0;
  margin-bottom: 0.5em;
}
#github_logo {
  width: 1.5em;
  height: auto;
  padding-right: 0.5em;
}
